/* Colors */
@define-color inputicon rgb(203, 166, 247);
@define-color text rgb(225, 214, 244);
@define-color base rgba(24, 24, 37, 0.95);
@define-color selectedEntryBg rgba(49, 50, 68, 0.8);
@define-color surface0 rgba(24, 24, 37, 0.9);
@define-color borderColor rgb(203, 166, 247);

#window {
  background: transparent;
  font-family: BlexMono Nerd Font;
  font-weight: 500;
  font-size: 14px;
}

#outer-box {
  padding: 20px;
  border-radius: 10px;
  background: @base;
  border: 2px solid @borderColor;
}

#input {
  border: none;
  border-radius: 8px;
  outline: none;
  box-shadow: none;

  margin-bottom: 10px;
  padding: 10px 15px;

  background: #surface0;
  color: white;
  font-size: 18px;
}

#input image {
  color: @inputicon;
}

#input image:first-child {
  margin-right: 15px;
}

#entry {
  color: @text;
  padding: 10px;
}

#entry:selected {
  background: @selectedEntryBg;
  padding: 15px;
  border-radius: 8px;
  color: @text;
  font-size: 16px;
}

#entry:drop(active) {
  background: rgba(49, 50, 68, 0.8) !important;
  padding: 10px;
  color: rgb(205, 214, 244);
}
